.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* custom CSS */


/* .mango-logo{
  min-width: 289px;
  min-height: 57px;
} */
nav{
  background-color: #ffffff !important;
}
.nav-link{
  font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
}

.nav-active{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color:#CB6632 !important;
position: relative;
}



@media only screen and (max-width:1366px) {
  .mango-logo {
    width: 200px;
  }
  .nav-link{
    font-size: 14px;
  }
  }

  @media only screen and (min-width:992px) {
    .nav-active::after{
  content:"";
  position: absolute;
  bottom: -10px;
  left: 40px;
  width: 10px;
  height: 10px;
border-radius: 50%;
  background-color: #CB6632;
}
    }

  .bg-image{
    /* max-width: 100%; */
    /* height: calc(100vh - 82px); */
  }

  .bg-slider {
    background-image: url('./assets/image/Rectangle 43.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 82px);
    position: relative;
    width: 100%;
  }

   .bg-slider img{
    width: 100%;
    max-height: calc(100vh - 90px);
    
  }
  .slider-overlay{
    position: absolute;
    top: 19%;
    left: 3%;
    max-height: 50vh;
  }
  .slogan-container {
    position: relative;
    padding: 43px 59px 57px 50px;
    border-radius: 10px;
  }

  .slogan-container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    opacity: 0.74;
    border-radius: 10px;
  }

  .slogan {
    position: relative;
    font-family: Oswald;
    font-size: 80px;
    font-weight: 700;
    line-height: 109px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    opacity: 1;
  }

  .slogan-img {
    display: flex;
    align-items: center;
  }

  .slogan-img img {
    position: relative;
    width: 166px;
    height: 89px;
    border-radius: 8px;
    background-color: #000000;
    opacity: 1;
    margin-right: 18px;
  }


  .services-container {
    display: flex;
  }

  .services {
    display: flex;
    margin-top: 25px;
    margin-right: 25px;
    position: relative;
    max-width: 238px;
    border-radius: 9.5px;
    background-color: #000000;
    color: #ffffff;
  }

  .services:last-child {
    margin-right: 0px;
  }
  
  .services img {
    position: relative;
    height: 34px;
    width: 34px;
    margin: 10px;
  }

  .services div {
    padding-left: 38px;
    padding-top: 28px;
    padding-bottom: 28px;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
  }

  @media only screen and (max-width:1199px) {
    .slogan{
      font-size: 30px;
      line-height: 50px;
      padding: 0;
    }
    .slider-overlay{
      /* width: 50%; */
      padding: 2px 0px 0px 2px;
    }
    .slogan-container{
    /* margin-right: 69px; */
    padding: 15px 44px 15px 46px;

    }
    .services div {
      font-size: 10px;
         padding-left: 18px; 
     padding-top: 8px;
     padding-bottom: 8px;
    }
    }

    .carousel-control-prev , .carousel-control-next{
      display: none !important;
    }
    .carousel-indicators .active{
      background-color: #CB6632 !important;
    }
    .carousel-indicators [data-bs-target] {
      opacity: 1 !important;
      width: 50px !important;
    }
  
    .carousel-indicators {
      bottom: 20px !important;
      
    }
  
    .slider-main{
      position: relative;
    }
    .slider-content{
      position: absolute;
      top: 15%;
      left: 5%;
      border: 2px soid red;
      z-index: 999;
    }
    .slider-slogan{
      background-color: #ffffff;
      opacity: 0.74;
      padding: 43px 59px 57px 50px;
      border-radius: 10px;
    }
 .slogan-text {
      
      font-family: Oswald;
      font-size: 86px;
      font-weight: 700;
      line-height: 109px;
      letter-spacing: 0px;
      text-align: left;
      text-transform: uppercase;
      color: #000000;
      opacity: 1;
      z-index: 1  ;
    }

.slider-services{
  display :flex
}
    
.section2{
  background-color: #074ECE  ;
  padding-bottom: 122px;
}

.section2-text{
  font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 59px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
padding:  120px 0 120px 0;
}

.sec2card{
  padding: 0 156px;
}
.sec2col-3{
    background: #FFFFFF;
    border-radius: 10px;
}
.card1-heading{
  font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
text-transform: capitalize;
color: #000000;
}

.card-1-para{
  font-family: 'Mulish';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
color: #000000;
text-align:start;
padding-top: 30px !important;
}

.card-1-footer{
font-family: 'Mulish';
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 31px;
color: #000000;
padding-top:284px;
padding-right: 67px;
text-align:start;
}

.card-1-footer a{
  color: #323BCB  !important;
  font-weight:700;
  text-decoration: underline !important;
}

.sec-2-right-card{
  padding-left: 36px;
}

.sec-2-cardcol{
  width: 375px;
height: 323px;

}

.card-bottom-margin{
  margin-bottom: 36px;
}

.border-radius-10{
  border-radius: 10px;
}

.card-img{
  width: 60px !important;
  height: 60px;
  padding:0 !important;
}

.padding-card{
  padding-top: 35px ;
  padding-left: 44px;
  padding-right: 30px;
  /* justify-content: space-between; */
  position: relative;
}

.card7::after{
  content: "";  
  position: absolute;
  /* top: 0; */
  right: 40px;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #03443C;
  padding: 0;
}

.card7-body{
  padding-left: 44px;
}
.card7-body .title7{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  padding-top: 45px;
  text-align: start;
  color:#03443C
}
.card7-body .card-para{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding-right: 55px ;
  padding-top: 16px ;
  text-align: start;
}

.card8::after{
  content: "";  
  position: absolute;
  /* top: 0; */
  right: 40px;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #CB6632;
  padding: 0;
}
.card8-body{
  padding-left: 44px;
}
.title8{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  padding-top: 45px;
  text-align: start;
  color: #CB6632;
}
.card8-body .card-para{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding-right: 55px ;
  padding-top: 16px ;
  text-align: start;
}

.card9::after{
  content: "";  
  position: absolute;
  /* top: 0; */
  right: 40px;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #ADC949;;
  padding: 0;
}

.card9-body{
  padding-left: 44px;
}
.title9{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  padding-top: 45px;
  text-align: start;
  color: #ADC949;
}
.card9-body .card-para{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding-right: 55px ;
  padding-top: 16px ;
  text-align: start;
}

.card10::after{
  content: "";  
  position: absolute;
  /* top: 0; */
  right: 40px;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #ADC949;
  padding: 0;
}

.card10-body{
  padding-left: 44px;
}
.title10{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  padding-top: 45px;
  text-align: start;
  color: #ADC949;
}
.card10-body .card-para{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding-right: 55px ;
  padding-top: 16px ;
  text-align: start;
}

.card11::after{
  content: "";  
  position: absolute;
  /* top: 0; */
  right: 40px;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #03443C;
  padding: 0;
}
.card11-body{
  padding-left: 44px;
}
.title11{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  padding-top: 45px;
  text-align: start;
  color: #03443C;
}
.card11-body .card-para{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding-right: 55px ;
  padding-top: 16px ;
  text-align: start;
}

.card12::after{
  content: "";  
  position: absolute;
  /* top: 0; */
  right: 40px;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #CB6632;
  padding: 0;
}
.card12-body{
  padding-left: 44px;
}
.title12{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  padding-top: 45px;
  text-align: start;
  color: #CB6632;
}
.card12-body .card-para{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding-right: 55px ;
  padding-top: 16px ;
  text-align: start;
}

